@use 'mixins' as mx;

aside {
    @include mx.absolute(50%,50%, -50%, -50%);
    @include mx.size(100%, 100%, 0.4em);
    pointer-events: none;
    & > * {pointer-events: auto;}
}

.fill-mode {
    @include mx.absolute(50%, -160px, 0, -50%);
    display: flex;
    gap: 15px;
    flex-direction: column;
    z-index: 100;

    input:checked + label {
            background-color : white;
            color: #1d1d1d;
    }

    label {
        display: inline-block;
        border-radius: 1em;
        padding: 1em 2.2em;
        background-color: #6C6C6C;
        color: #ACACAC;
        &:hover {cursor: pointer}
    }
}

.run-btn {
    @include mx.absolute(calc(100% + 30px), 50%, -50%, 0);
    @include mx.size(180px, 50px, 1em 3em);
    font-family: 'Poppins', sans-serif;
    border-radius: 1em;
    &:hover {cursor: pointer;}
}

.axis {
    @include mx.absolute(-45px, 50%, -50%);
    margin: 0 auto;
    display: flex;
    gap: 20px;
    color: #242424;

    input {
        font-family: 'Poppins', sans-serif;
        padding: 3px 10px;
    }
}

