@mixin absolute($top, $left, $translateX : 0, $translateY : 0) {
    position: absolute;
    top: $top;
    left: $left;
    transform: translate($translateX, $translateY);
}

input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;

    &:checked + label{
        background-color : white;
        color: #1d1d1d;
    }
  }


.fill-mode {
    @include absolute(50%, 20%, 0, -50%);
    display: flex;
    gap: 15px;
    flex-direction: column;

  label {
    display: inline-block;
    border-radius: 1em;
    padding: 1em 2.2em;
    background-color: #6C6C6C;
    color: #ACACAC;

    &:hover {
        cursor: pointer;
    }

    }
}

.run-btn {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    width: 180px;
    height: 50px;
    border-radius: 1em;
    padding: 1em 3em;

    background-color: white;
    transition: 200ms background-color cubic-bezier(0.39, 0.575, 0.565, 1);

    &:hover {
        background-color: #ffc300;
    }
}