$grid-axis-length : 700px;

:root {
    --rowNum : 5;
    --colNum : 5;
}

.grid {
    width: $grid-axis-length;
    height: $grid-axis-length;
    border: 1px solid black;

    display: grid;
    grid-template-columns: repeat(var(--colNum), 1fr);
    grid-template-rows:    repeat(var(--rowNum), 1fr);

}


.grid-element {
    border: 1px solid rgb(236, 236, 236);

}

