@use "mixins" as mx;
$grid-axis-length : 520px;

main {
    width:28%;
    min-width: 540px;

    &:after {
            content:'';
            display: block;
            padding-bottom: 100%;
    }
    padding: 0.4em;
    position: relative;
}

:root {
    --rowNum : 20;
    --colNum : 20;
}

.start { background-color: #2AD899;}
.end { background-color: #b02e36;}
.wall { background-color: #898989;}

.grid {
    position: absolute;
    @include mx.size(100%, 100%);
    background-color: white;
    border: 1px solid black;
    border-radius: 0.3em;

    display: grid;
    grid-template-rows:    repeat(var(--rowNum), 1fr);
    grid-template-columns: repeat(var(--colNum), 1fr);

    pointer-events:none;
}


.grid-element {
    border: 1px solid rgb(197, 196, 196);
    transition: 200ms ease background-color;
    pointer-events: auto;
}

