$grid-axis-length : 500px;

:root {
    --rowNum : 5;
    --colNum : 5;
}

.grid {
    width: $grid-axis-length;
    height: $grid-axis-length;
    padding: 0.4em;
    background-color: white;;
    border: 1px solid black;
    border-radius: 0.3em;

    display: grid;
    grid-template-rows:    repeat(var(--rowNum), 1fr);
    grid-template-columns: repeat(var(--colNum), 1fr);
}


.grid-element {
    border: 1px solid rgb(197, 196, 196);
    transition: 200ms ease background-color;
}

.start { background-color: #4B19F9;}
.end { background-color: #6f1a3b;}
.wall { background-color: #898989;}
.wrong-way { background-color: #CB3971}
.good-way { background-color: #2AD899}
.unidentifed-way {background-color: #ffdab4e8;}
.curr-position { background-color: #d18e4b}


